/********************** Général *****************************/
* {
  box-sizing: border-box; /* Pour que les paddings et les borders ne soient pas comptés en plus de la largeur */
  margin: 0; /* Pour supprimer les marges par défaut */
  padding: 0; /* Pour supprimer les paddings par défaut */
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  /* box-shadow: 0 0 0 2px red inset; /* Pour visualiser les box-models */
}

body {
  max-width: 1440px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.main-container {
  padding: 0 50px;
  box-sizing: border-box;
  padding-bottom: 60.5px;
}

.fa-solid {
  color: var(--main-color);
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.section-title h2 {
  font-size: 22px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.margin-section {
  margin-bottom: 35px;
}

/*********************** Header *****************************/

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 79px;
  margin-bottom: 30px;
}

.logo {
  padding: 30px 50px;
  height: 100%;
  margin-right: auto;
}

.logo img {
  height: 19px;
}

nav {
  height: 35px;
  width: 328px;
  padding: 0 25px;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  height: 100%;
}

.navbar-item {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.navbar-item a {
  color: black;
  text-decoration: none;
}

.navbar-item a:hover {
  color: var(--main-color);
  transition: 0.3s; /* Pour une transition fluide */
}

.navbar-item a::before {
  /* Pour créer le trait qui apparaît au survol */
  content: "";
  display: block;
  position: absolute;
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  top: 0;
}

.navbar-item a:hover::before {
  /* Pour faire apparaître le trait au survol */
  width: 100%;
}

/***************** Zone recherche ***************************/
h1 {
  margin-bottom: 8px;
}

.form {
  display: flex;
  align-items: center;
  height: 49px;
  width: auto;
}

.searchbar {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.fa-location-dot {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 49px;
  height: 100%;

  color: black;
}

.form input {
  border: none;
  outline: none;

  height: 100%;
  font-weight: 700;

  padding-left: 24px;
  padding-right: 24px;
}

.form input::placeholder {
  color: black;
}

.btn-form-desktop {
  height: 49px;
  padding: 15px;
  border: none;
  border-radius: 0px 15px 15px 0px;

  background-color: var(--main-color);
  color: white;
  font-weight: 700;

  cursor: pointer;
}

.btn-form-mobile {
  display: none; /* Caché par défaut */
  height: 49px;
  width: 49px;
  padding: 15px;

  border: none;
  border-radius: 15px;

  cursor: pointer;
  background-color: var(--main-color);
}

.fa-magnifying-glass {
  color: white;
  font-weight: 700;
}

.filter {
  display: flex;
}

.filter button {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;

  padding: 4px 19px;
  margin-left: 15px;
  height: 50px;
  width: auto;

  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.filter button:hover {
  background-color: var(--filter-bg-color);
  transition: 0.3s;
}

.filter i {
  color: var(--main-color);
  padding-right: 10px;
}

.filter p {
  display: flex;
  align-items: center;

  margin: 0;

  font-weight: 700;
}

.round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid #d9d9d9;
  border-radius: 25px;
  margin-right: 10px;

  font-size: 12px;
}

.search-info {
  display: flex;
  align-items: center;
}

/************** Hebergements And Populaires *****************/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

/*********************** Hebergements ***********************/
.hebergements-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px; /* Pour créer un espace entre les cartes */
}

.card {
  width: 30%;
  max-width: 250px;
  background-color: white;

  border-radius: 20px;
  padding: 5px 5px 15px 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  border-radius: 20px 20px 0px 0px;
  max-height: 124px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.card-content {
  padding: 0px 15px 0 15px;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.card-txt * {
  padding-bottom: 8px;
}

.hebergements-plus {
  margin-top: 30px;
}

.hebergements-plus a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

/************************ Populaires ************************/

.populaires-container {
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card2 {
  display: flex;
  min-height: 144px;
  height: 100%;
  background-color: white;

  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card2 img {
  border-radius: 20px 0 0 20px;
  width: 30%;
  object-fit: cover;
}

.populaires-cards .card-content {
  padding: 10px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 70%;
}

/********************* Activités ****************************/

.activites-container {
  padding: 30px;
}

.container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.card3 {
  flex-shrink: 1;
  flex-basis: 25%;
  height: 439px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card3 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  max-width: 298px;
}

.card3 img {
  border-radius: 20px 20px 0px 0px;
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.card3-content {
  padding: 20px;
}

/*******************$** Footer ******************************/

.footer-container {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.footer-subtitle-margin {
  margin-bottom: 15px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 33%;
}
.footer-container li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/********************** Media queries ***********************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    padding-bottom: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements-container {
    width: 100%;
  }

  .populaires-container {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card2 {
    width: 100%;
    max-height: 146px;
  }

  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    .logo {
      margin: 0 auto;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .logo {
      padding: 30px;
      align-items: center;
    }

    nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }

    .navbar-item {
      width: 100%;
      justify-content: center;
    }

    .navbar-item a {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;
    }

    .navbar-item ::after {
      /* Pour créer le trait qui apparaît au survol */
      content: "";
      display: block;
      position: absolute;
      background-color: var(--main-color);
      height: 2px;
      width: 0%;
      bottom: 0;
    }

    .navbar-item :hover::after {
      /* Pour faire apparaître le trait au survol */
      width: 100%;
    }

    .navbar-item a:hover::before {
      width: 0%;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      /* padding: 0 20px 20px 20px; */
      padding: 0;
      max-width: 768px;
    }

    .search-container {
      padding: 0 20px;
    }

    .searchbar input {
      width: 100%;
    }

    .form {
      width: 100%;
    }

    .btn-form-desktop {
      display: none;
    }

    .btn-form-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 49px;
      width: 49px;
      padding: 15px;

      border: none;
      border-radius: 15px;

      cursor: pointer;
      background-color: var(--main-color);
    }

    .filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }

    .filter p {
      display: flex;
      width: 100%;
    }

    .filter button {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 20px;

      flex-basis: calc(
        50% - 10px
      ); /* Pour que les boutons soient sur 2 colonnes en tenant compte du gap */
    }

    .main-container main {
      margin: 0;
    }

    .hebergements-and-populaires {
      flex-direction: column-reverse;
      gap: 15px;
    }

    .populaires-container {
      padding: 30px 20px 30px 20px;
      margin: 0;
      border-radius: 0;
    }

    .populaires {
      padding: 30px 20px 30px 20px;
      margin: 0;
      border-radius: 0;
    }

    .populaires-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
    }

    .populaires-cards .card2 {
      margin: 0;
      width: 100%;
    }

    .hebergements {
      padding: 30px 20px 30px 20px;
      margin: 0;
      border-radius: 0;
      background-color: white;
    }

    .hebergements-cards {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-bottom: 15px;
    }

    .card {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }

    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .card3 a {
      max-width: 100%;
    }

    .card3 img {
      height: 141px;
    }

    .footer-container {
      flex-direction: column;
      padding: 30px;
      gap: 50px;
    }

    .footer-section {
      padding: 0;
      width: 100%;
    }
  }
}
