/********************** Général *****************************/
* {
  box-sizing: border-box; /* Pour que les paddings et les borders ne soient pas comptés en plus de la largeur */
  margin: 0; /* Pour éviter les marges par défaut */
  padding: 0; /* Pour éviter les paddings par défaut */
  font-family: "Raleway", sans-serif;
  /* box-shadow: 0 0 0 2px red inset; Pour visualiser les box-models */
  max-width: 1440px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.margin-section {
  margin-bottom: 35px;
}

/*********************** Header *****************************/

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 79px;
  margin-bottom: 30px;
}

.logo {
  padding: 30px 50px;
  height: 100%;
  margin-right: auto;
}

.logo img {
  height: 19px;
}

nav {
  height: 35px;
  width: 328px;
  padding: 0 25px;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  height: 100%;
}

.navbar-item {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.navbar-item a {
  color: black;
  text-decoration: none;
}

.navbar-item a:hover {
  color: var(--main-color);
  transition: 0.3s; /* Pour une transition fluide */
}

.navbar-item a::before {
  /* Pour créer le trait qui apparaît au survol */
  content: "";
  display: block;
  position: absolute;
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  top: 0;
}

.navbar-item a:hover::before {
  /* Pour faire apparaître le trait au survol */
  width: 100%;
}

/***************** Zone recherche ***************************/
.headlines-txt {
  margin-top: 8px;
}

.form {
  display: flex;
  align-items: center;
  height: 49px;
  width: auto;
}

.searchbar {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.fa-location-dot {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 49px;
  height: 100%;

  color: black;
}

.form input {
  border: none;
  outline: none;

  height: 100%;
  font-weight: 700;

  padding-left: 24px;
  padding-right: 24px;
}

.form input::placeholder {
  color: black;
}

.btn-form-desktop {
  height: 49px;
  padding: 15px;
  border: none;
  border-radius: 0px 15px 15px 0px;

  background-color: var(--main-color);
  color: white;
  font-weight: 700;

  cursor: pointer;
}

.btn-form-mobile {
  display: none; /* Caché par défaut */
  height: 49px;
  width: 49px;
  padding: 15px;

  border: none;
  border-radius: 15px;

  cursor: pointer;
  background-color: var(--main-color);
}

.fa-magnifying-glass {
  color: white;
  font-weight: 700;
}

.filter {
  display: flex;
}

.filter button {
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;

  padding: 4px 19px;
  margin-left: 15px;
  height: 50px;
  width: auto;

  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.filter button:hover {
  background-color: var(--filter-bg-color);
  transition: 0.3s;
}

.filter i {
  color: var(--main-color);
}

.filter p {
  display: flex;
  align-items: center;

  margin: 0;

  font-weight: 700;
}

.round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid #d9d9d9;
  border-radius: 25px;
  margin-right: 10px;

  font-size: 12px;
}

.search-info {
  display: flex;
  align-items: center;
}

/************** Hebergements And Populaires *****************/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/*********************** Hebergements ***********************/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 33%;
  align-content: space-between;
}

.hebergements-cards .card2 {
  margin-top: 30px;
  max-width: 250px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card2 img {
  border-radius: 20px 20px 0px 0px;
  max-height: 124px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.card-content {
  display: flex;
  padding: 0px 15px 15px 15px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4px;
}

.card-txt * {
  padding-bottom: 8px;
}

.hebergements-plus {
  margin-top: 30px;
}

.hebergements-plus a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

/************************ Populaires ************************/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/********************* Activités ****************************/

.activites-container {
  padding: 30px;
}

.container {
  margin-top: 30px;
  display: flex;
  gap: 30px; 
}

.card3 {
  flex-shrink: 1;
  flex-basis: 25%;
  height:439px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card3 a {
  display:flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  max-width: 298px;
}

.card3 img {
  border-radius: 20px 20px 0px 0px;
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.card3-content {
  padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/********************** Media queries ***********************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
